
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    grid-template-areas: 
    ". up ."
    "left . right"
    ". down .";
}

#btn-container button{
    width: 80px;
    height: 50px;
}

#up{
    grid-area: up;
}

#left{
    grid-area: left;
}

#right{
    grid-area: right;
}

#down{
    grid-area: down;
}